.container__row {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-grow: 1;
}

.table__header {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  position: relative;
}

.table__header_close {
  background: var(--irys-color);
}

.table__header_open {
  background: var(--primary-color);
}

.label__todo_list {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 auto;
  color: var(--primary-color); 
}

.label_open {
  color: var(--white-color); 
}

.close__todo_btn,
.open__todo_btn {
  cursor: pointer;
}

.close__todo_img:hover,
.open__todo_btn:hover,
.add__todo_img:hover {
  transform: scale(.9);
}

.btn__add_task_list {
  position: absolute;
  right: 20%;
}

.open__table {
  width: 98%;
  margin: 0 auto;
}

.open__table {
  background: var(--white-color);
}

.tbody {
  max-height: 200px;
  overflow-y: auto;
}

td,
th {
  border-right: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  text-align: center;
  max-width: 200px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

th {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: var(--primary-color);
}

.table_progress {
  margin: 0 auto;
}

td {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: var(--primary-color);
  max-width: 200px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.comment__text {
  text-align: start;
  max-width: 200px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.delete_btn_list, 
.edit_btn_list {
  margin: 0 auto;
}
tbody tr:nth-child(odd) {
  background: var(--grey-light-color);
}
.container__view_btn_list {
  width: 100%;
  display: flex;
  justify-content: start;
  column-gap: 2rem;
  padding: 0 20px;
  margin: 15px 0;
}
.load__btn_list {
margin-left: calc(50% - 90px);
}
.check_btn {
  background: var(--irys-color);
  color: var(--primary-color);
  cursor: not-allowed;
}
.tFoot {
  min-width: 100%;
  max-width: 100%;
  background: none;
}