.info_user_main {
    justify-content: flex-start;

}
.container__title {
    width: 450px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);  
    border-radius: 10px 10px 0 0;   
}
.container__form {
    width: 450px;
    margin: 0 auto;
    background-image: url('./../assets/img/dark_fon.jpg');
    border-radius: 0 0 10px 10px;
    padding: 20px 20px;
}

.user__info_title {
    border: none;   
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--white-color);
    text-align: center;   
    padding: 7px;
}
.login_btn_link,
.guest_btn_link {
    color: var(--primary-color);
    background: transparent;
    cursor: pointer;
    transition: all ease .5s;
    font-size: 1.5rem; 
}
.guest_btn_link  {
    color: var(--primary-color);
    border-radius: 0 10px 0 0;
    padding: 0 30px;  
}
.login_btn_link:hover,
.guest_btn_link :hover {
    color: var(--technic-color); 
}
.login_btn_link {
    width: 100px;
    border-right: 2px solid var(--primary-color);
    border-radius: 0 10px 0 0;
}
.sign_up {
    background-image: url('./../assets/img/dark_fon.jpg');
    width: 150px;
    border-radius: 10px 10px 0 0;
    border-top: 2px solid var(--primary-color);
}

.container__input {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5px auto;
    position: relative;
}

.label__user_info {
    color: var(--white-color);
    font-size: 1.4rem;
    margin: 3px 0;
    font-weight: 500;
}

.input__user_info {
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 3px 10px;
}

.container__avatar {
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed var(--secondary-color);
    padding: 3px 2px;
}
.container__radio {
    display: flex;
    padding: 0 10px 10px 10px;
    justify-content: space-between;
    border-bottom: 1px dashed var(--secondary-color); 
}

.container__avatar img {
    border: 3px solid transparent;
    border-radius: 50%;
}

.container__avatar img:hover {
    border: 3px solid var(--progress-color);
    border-radius: 50%;
}
.avatar_radio {
    margin-bottom: 10px;
}

.form_btn {
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
}

.form_btns {
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
}

.action__form_btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.action__form_btns button:first-child {
    color: red;
}

.action__form_btns button:last-child {
    color: green;
}
.auth_btn {
    margin: 0 30px 0 10px;
}
.btn_header_reg {
    margin: 0 30px 0 0;
}
.eror_form {
    font-size: 11px;
    letter-spacing: .5px;
    font-weight: 500;
    color: var(--fuschia-color);
    margin: 3px 0 7px 0;
}
.password__btn_eye {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    background: transparent;
    position: absolute;
    top: 22px;
    z-index: 2;
    right: 20px;
}
.auth_page {
    margin-top: 50px;
}