/*//////  HEADER -start /////////*/
.header,
.footer {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: var(--primary-color);
  padding: 0 4rem;
  align-items: center;
  color: rgb(250, 249, 245);
  justify-content: space-between;
}

.container__logo {
  display: flex;
  gap: 15rem;
}

.logo__img {
  width: 70px;
}

.logo__title {
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}

.container__thema {
  width: 80px;
  height: 25px;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
}

.thema__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.thema__img {
  transition: all .5s ease;
}

.thema__img:hover {
  filter: invert(48%) sepia(46%) saturate(2587%) hue-rotate(160deg) brightness(93%) contrast(101%);

}

.thema__btn.active .thema__img {
  filter: invert(48%) sepia(46%) saturate(2587%) hue-rotate(160deg) brightness(93%) contrast(101%);
}

.container__authorize {
  display: flex;
  align-items: center;
}

.container__userName {
  display: flex;
  gap: 1.5rem;
  margin-right: 4rem;
}

.user__name {
  font-weight: 700;
  font-size: 20px;
}

.btn {
  width: 100px;
  height: 35px;
  border: none;
  font-size: 1.6rem;
  font-family: "Roboto"sans-serif;
  border-radius: 25px;
  font-weight: 700;
  transition: all .3s ease;
  cursor: pointer;
}

.light_btn {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.dark_btn {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.light_btn:hover,
.dark_btn:hover {
  background: var(--irys-color);
  color: var(--primary-color);
}
.header_for_auth_user {
  cursor: pointer;
}
/*footer*/
.footer {
  height: 60px;
}

.footer__title {
  font-size: 2rem;
}

.container__email {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.name__title,
.email__title {
  font-weight: 400;
  font-size: 1.4rem;
  font-style: normal;
  color: var(--white-color);
  text-decoration: none;
  transition: all .3s ease;
}

.email__title:hover {
  color: var(--technic-color);
  cursor: pointer;
}

.footer__date {
  font-weight: 400;
  font-size: 1.8rem;
}