

/*/////////////////main//////////////*/
.main {
    width: 100%;
    padding: 10px;
    background-image: url("./../assets/img/light_fon.jpg");
    background-size: 100%;
    background-repeat: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
  }
   
  .form__filter {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid var(--technic-color);
    border-radius: 30px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .filter__title {
    font-weight: 700;
    font-size: 24px;
  }
  .container__search {
    width: 270px;
  }
  .search__input {
    width: 270px;
    height: 27px;
    background-color: transparent;
    border: 1px solid var(--technic-color);
    border-radius: 30px;
    background: url("./../assets/icon/search.svg") no-repeat scroll 10px 4px;
    padding-left: 40px;  
    margin: 0 0 10px 0; 
  }
  .container__search_group, 
  .container__search__text_radio {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;    
    background: transparent;
    cursor: pointer;
    border: none;
  }
  .container__search__text_radio {
    gap: 10px;
  }
  .container__priority,
  .container__privacy {
    display: flex;
    align-items: center;
    gap: 15px;
  }   
  .search__by-name,
  .search__by-title {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  } 
  .search__by-name:hover,
  .search__by-title:hover {
    color: var(--technic-color);  
  }
  .container__privacy_img_radios {
    width: 60px;
  }
  .container__privacy_radios,
  .container__privacy_img {
    width: 100%;
    display: flex;
    gap: 15px;    
    justify-content: center;
  }
  .img_privacy:hover {
    filter: var(--filter-svg-black-blue);
  }
  
  .priority__title {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    margin-right: 15px;
    margin: 0;
  }
  .container__priority_radios {
    display: flex;
    gap: 17px;    
    justify-content: center;
  }
  
  .priority__items_img {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: -5px;
  }
  .priority_img {
    width: 15px;
    height: 20px;
  }
    
  .container__date {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
  }
  
  .date__label {
    color: var(--technic-color);
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: 10px;
  }
  
  .input__date[type="date"] {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--technic-color);
    border-radius: 10px;
    font-size: 1.4rem;
    padding-left: 1rem;
  }
  
  /*****************************container__tasks***************************/
  .board {
    width: 100%;
    min-height:calc(100vh - 260px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container__columns {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    position: relative;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .btn__add_task {
    width: 100%;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .line__column {
    position: absolute;
    top: 33px;
    left: 7px;
    width: 95%;
    height: 3px;
    border: none;
    background-color: var(--technic-color);  
  }
  
  .container__tasks {
    list-style: none;
    padding: 0;
    width: 98%;
    overflow: hidden;
    overflow-y: auto;
    max-height: 250px;
  
  }
  
  .task {
    width: 100%;
    min-height: 210px;
    box-shadow: 0px 3px 36px 6px rgba(0, 71, 255, 0.16);
    border-radius: 8px;
    background: var(--white-color);
    padding: 1.5rem;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .task:hover {
    background: var(--yellow-color);
  }
  
  .container__title_task,
  .container__date_task,
  .container__info_task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container__btn_delete {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
  }
  
  .container__date_task {
    padding-right: 2.5rem;
    margin: 10px 0;
  }
  
  .container__comments {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    column-gap: 10px;
  }
  
  .task__title {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--primary-color);
    margin: 0;
  }
  
  .task__date {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--grey-color);
    margin: 0;
  }
  
  .user_name {
    background: var(--fuschia-color);
  }
  
  .label__todo {
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    background: var(--irys-color);
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress {
    background: var(--progress-color);
  }
  
  .completed {
    background: var(--compleled-color);
  }
  
  .task__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 19px;
    color: var(--primary-color);
    margin: 0;
  }
  
  .btn_icon {
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .4s ease;
  }
  
  .user_name {
    background: var(--fuschia-color);
  }
  
  .img_delete:hover {
    filter: var(--filter-svg-red);
  }
  
  .img_edit:hover {
    filter: var(--filter-svg-blue);
  }
  
  /*******************container__view_btn**********************/
  
  .container__view_btn {
    width: 100%;
    display: flex;
    justify-content: start;
    column-gap: 2rem;
    padding: 0 20px;
    margin: 20px 0;
  }
  
  .load__btn {
    width: 180px;
    height: 38px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .btn_list,
  .btn_table {
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn_table img {
    width: 15px;
  }
  
  .btn_list img {
    width: 20px;
  }
  .display_none {
    display: none;
  }