.info_user_main {
    justify-content: flex-start;

}
.container__title {
    width: 450px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);  
    border-radius: 10px 10px 0 0;   
}
.container__form {
    width: 450px;
    margin: 0 auto;
    background-image: url('./../assets/img/dark_fon.jpg');
    border-radius: 0 0 10px 10px;
    padding: 20px 20px;
}

.user__info_title {
    border: none;   
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--white-color);
    text-align: center;   
    padding: 7px;
}
.login_btn_link,
.guest_btn_link {
    color: var(--primary-color);
    background: transparent;
    cursor: pointer;
    transition: all ease .5s;
    font-size: 1.5rem; 
}
.guest_btn_link  {
    color: var(--primary-color);
    border-radius: 0 10px 0 0;
    padding: 0 30px;  
}
.login_btn_link:hover,
.guest_btn_link:hover {
    color: var(--technic-color); 
}
.login_btn_link {
    width: 100px;
    border-right: 2px solid var(--primary-color);
    border-radius: 0 10px 0 0;
}
.sign_up {
    background-image: url('./../assets/img/dark_fon.jpg');
    width: 150px;
    border-radius: 10px 10px 0 0;
    border-top: 2px solid var(--primary-color);
}

.container__input {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5px auto;
    position: relative;
}

.label__user_info {
    color: var(--white-color);
    font-size: 1.4rem;
    margin: 3px 0;
    font-weight: 500;
}

.input__user_info {
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 3px 10px;
}

.container__avatar {
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed var(--secondary-color);
    padding: 3px 2px;
}
.container__radio {
    display: flex;
    padding: 0 10px 10px 10px;
    justify-content: space-between;
    border-bottom: 1px dashed var(--secondary-color); 
}

.container__avatar img {
    border: 3px solid transparent;
    border-radius: 50%;
}

.container__avatar img:hover {
    border: 3px solid var(--progress-color);
    border-radius: 50%;
}
.avatar_radio {
    margin-bottom: 10px;
}

.form_btn {
    width: 100px;
    height: 30px;
    font-size: 1.2rem;
}

.form_btns {
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between;
}

.action__form_btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.action__form_btns button:first-child {
    color: red;
}

.action__form_btns button:last-child {
    color: green;
}
.action__form_btns button:first-child:disabled,
.action__form_btns button:last-child:disabled {
 color: var(--grey-color);
 cursor: not-allowed;
}
.auth_btn {
    margin: 0 30px 0 10px;
}
.btn_header_reg {
    margin: 0 30px 0 0;
}
.eror_form {
    font-size: 11px;
    letter-spacing: .5px;
    font-weight: 500;
    color: var(--fuschia-color);
    margin: 3px 0 7px 0;
}
.password__btn_eye {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    background: transparent;
    position: absolute;
    top: 22px;
    z-index: 2;
    right: 20px;
}
.auth_page {
    margin-top: 50px;
}
.dark_color {
    color: var(--primary-color);
    margin: 30px auto 20px;
}
.light_color {
    color: var(--white-color); 
}
/********profile page ****/
.container__title_profile {
width: 600px;
}
.view_mode {  
    width: 33.4%;
    color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-radius: 10px 10px 0 0;
}
.edit_profile_btn_link,
.main_profile_btn_link {
    background: var(--primary-color);
    width: 33.3%;
    color: var(--white-color);   
    border-left: 2px solid var(--white-color);
    border-radius: 10px 10px 0 0; 
    transition: all ease .05s;
    cursor: pointer;
}
.edit_profile_btn_link:hover,
.main_profile_btn_link:hover {
    color: var(--irys-color);   
}

.container__view_info {
    width: 600px;   
    color: var(--primary-color);
    background: url('./../assets/img/light_fon.jpg');
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0 0 10px 10px; 
    padding: 20px;
    margin: 0 auto;
}
.profile_group0 {   
    margin: 0 auto;
    width: 85%;
    position: relative;   
}

.profile_group {   
  position: relative;    
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.label__user_profile {
    color: var(--primary-color);
    width: 175px;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}
.input__user_profile {
    width: 60%;
    border: none;
    font-size: 1.5rem;
    padding: 3px 10px;
    background:transparent;

}

.form_btns_profile {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: space-between; 
}

.form_profile_btn_save,
.form_profile_btn_reset {
    width: 120px;
    height: 40px;
}
.form_profile_btn_save:disabled,
.form_profile_btn_reset:disabled {
    cursor: not-allowed;
    background: var(--irys-color);
}
.eror_form_profile {
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: 500;
    color: red; 
    position: absolute;
    left: 200px;
    bottom: -5px;
    margin: 0;
}
.container__avatar_profile {
    display: flex;
    justify-content: space-between;  
    margin-top: 15px; 
   
}
.container__radio_profile {
    padding: 0 15px 10px 15px; 
    display: flex;
    justify-content: space-between;   
}
.profile__img_avatar {
    position: absolute;
    left: 120px;
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    top: -5px;
}
.profile__avatar_group {
    width: 85%;
    margin: 0 auto;
    padding: 10px 19px;
}
.border_red {
    border: 2px solid red;
    background: var(--red-light-color);
}
.profile_avatar_img {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.profile_avatar_img:hover {  
    border: 2px solid var(--primary-color);
  }

